section>h1 {
    font-family: 'Gugi', cursive;
    font-size: 90px;
    color: white;
}

section {
    font-family: 'Gugi', cursive;
    background-color: rgba(0, 0, 0, 0.348);
    color: white;
    font-size: 25px;


}



.boutton_onglet {
    font-size: 25px;
    color: white;
}

.btn1 {
    background-color: rgba(255, 0, 0, 0);
    border: 0px ridge;
    padding-right: 200px;
    padding-left: 150px;
    color: white;
    font-size: 25px;
}

.btn2 {
    background-color: rgba(255, 0, 0, 0);
    border: 0px ridge;
    padding-right: 400px;
    padding-left: 200px;
    color: white;
    font-size: 25px;
}


#btn_tittle {
    background-color: rgba(240, 248, 255, 0);
    border: 0px ridge;
    font-style: 50px;
}

#site_search {
    border-radius: 15px;
}